.container_pokemon_detail{
    width: 80%;
    min-height: 50em;
    height: 100%;
    position: relative;
    border: .5em solid;
    border-radius: 1em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    @media screen and (min-width: 546px){
        width: 85%;
        height: 100%;
    }
}
.pokemon_detail_button_back{
    position: relative;
    top: -3.8em;
    left: 2.5em;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 5px black;
    padding: .5em;
    box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.5) inset;
    @media screen and (min-width: 546px){
        left: 5em;
        top: -3em;
    }
}
.pokemon_detail_button_back:active{
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
}
.img_back_button{
    width: 1.5em;
    @media screen and (min-width: 546px){
        width: 2em;
    }
}
.bg_pokemon_detail{
     width: 100%;
     border-radius: 1em;
     -webkit-border-radius: 1em;
     -moz-border-radius: 1em;
     -ms-border-radius: 1em;
     -o-border-radius: 1em;
     height: 200px;
     @media screen and (min-width: 546px){
        width: 100%;
        height: 380px;
    }
}
.image_pokemondetail{
    position: absolute;
    width: 70%;
    left: 50%;
    top: 2%;
    object-fit: contain;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    @media screen and (min-width: 546px){
        width: 50%;
        top: 2%;
    }
}
.image_pokemondetail:hover{
    filter: saturate(1.6);
    -webkit-filter: saturate(1.6);
}
.pokemon_detail_pokemon_name{
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: .5em;
    @media screen and (min-width: 546px){
        margin-top: 4em;
    }
}
.pokemon_detail_id{
    width: 6em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
    font-weight: 900;
    padding: .5em;
    margin-bottom: .5em;
    @media screen and (min-width: 546px){
        width: 6em;
        height: 2.5em;
    }
}
.container_pokemon_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1px;
    margin-right: 2px;
    @media screen and (min-width: 546px){
        
    }
}
.pokemon_detail_info{
    display: flex;
    flex-direction: row;
    gap: 1em;
    @media screen and (min-width: 546px){
        gap: 4em;
    }
}
.PokemonInfo{
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    margin-top: .5em;
    @media screen and (min-width: 546px){
        gap: .5em;;
    }
}
.pokemon_info_img{
    object-fit: contain;
    width: 2em;
    @media screen and (min-width: 546px){
        width: 2.8em;
    }
}
.pokemon_info_name{
    font-size: .5em;
    @media screen and (min-width: 546px){
        font-size: 1em;
    }
}
.pokemon_type_especific{
    text-transform: capitalize;
    font-weight: 700;
    font-size: .8em;
    @media screen and (min-width: 546px){
        font-size: 1em;
    }
}
.pokemon_type_especific:nth-child(2){
    position: relative;
}
.pokemon_type_especific:nth-child(2)::before {
    content: '/';
    position: absolute;
    left: -1em;
}
.pokemon_type_especific:nth-child(3){
    position: relative;
}
.pokemon_type_especific:nth-child(3)::before {
    content: '/';
    position: absolute;
    left: -1em;
}
.pokemon_detail_nav {
    width: 100%;
    margin-top: 1em;
  }

  .pokemon_detail_nav_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
  }
  .info{
    cursor: pointer;
    font-size: .6em;
    @media screen and (min-width: 546px){
        font-size: 1.2em;
        font-weight: 500;
    }
  }
  .info:hover{
    text-decoration: underline;
    text-underline-offset: .3em;
    text-decoration-color: .2em solid;
    -moz-text-decoration-color: .2em solid;
    text-decoration-thickness: .1em;
}

.bg-grass {
    border-radius: 4px 4px 0px 0px;
    background-image: linear-gradient(180deg, #7EC6C5 0%, #ABDAC6 47.92%, #CAE099 100%);
 }
 .bg-fire{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(179deg, #F96D6F 9.38%, #E35825 27.08%, #E8AE1B 60.42%);
 }
 .bg-water{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #133258 0%, #1479FB 44.32%, #82B2F1 100%);
 }
 .bg-electric {
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #F6D80F 0%, #F9E83B 23.44%, #FDE76A 58.33%);
   }
 .bg-ground{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #654008 0%, #895C1A 23.44%, #D69638 58.33%);
 }
 .bg-bug{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #62DB60 12.33%, #3BB039 36.98%, #AAFFA8 100%);
     -webkit-border-radius: 4px 4px 0px 0px;
     -moz-border-radius: 4px 4px 0px 0px;
     -ms-border-radius: 4px 4px 0px 0px;
     -o-border-radius: 4px 4px 0px 0px;
 }
 .bg-normal{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(181deg, #735259 24.28%, #BC6B7C 74.77%, #7C3F4C 100%);
 }
 .bg-fighting{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(179deg, #96402A 0%, #F1613C 70.83%, #CB735D 100%);
 }
 .bg-poison{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(179deg, #5B3184 0%, #A564E3 32.66%, #CE9BFF 57.91%);
 }
 .bg-ghost{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(179deg, #323569 0%, #454AA8 27.25%, #787DDA 57.91%);
     -webkit-border-radius: 4px 4px 0px 0px;
     -moz-border-radius: 4px 4px 0px 0px;
     -ms-border-radius: 4px 4px 0px 0px;
     -o-border-radius: 4px 4px 0px 0px;
 }
 .bg-psychic{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #E52D2D 0%, #D13E3E 23.44%, #F07F7F 58.33%);
 }
 .bg-rock{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(179deg, #7E7E7E 0%, #8D8D94 27.25%, #D3D3D3 57.91%);
 }
 .bg-dark{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(179deg, #030706 0%, #0D1211 27.25%, #5A5E5D 57.91%);
     -webkit-border-radius: 4px 4px 0px 0px;
     -moz-border-radius: 4px 4px 0px 0px;
     -ms-border-radius: 4px 4px 0px 0px;
     -o-border-radius: 4px 4px 0px 0px;
 }
 .bg-ice{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(179deg, #6FBEDF 0%, #64CBF5 23.44%, #BDEBFE 58.33%);
 }
 .bg-steel {
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #5E736C 0%, #728881 23.44%, #A8A8A8 58.33%);
 }
 .bg-dragon{
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #478A93 0%, #56A4AE 23.44%, #A2BEC1 58.33%);
 }
 .bg-fairy {
     border-radius: 4px 4px 0px 0px;
     background-image: linear-gradient(180deg, #971B45 0%, #C23867 23.44%, #CD7D98 58.33%);
     -webkit-border-radius: 4px 4px 0px 0px;
     -moz-border-radius: 4px 4px 0px 0px;
     -ms-border-radius: 4px 4px 0px 0px;
     -o-border-radius: 4px 4px 0px 0px;
 }
 .color-grass{
     color: #ABDAC6;
 }
 .color-fire{
     color: #E35825;
 }
 .color-water{
     color: #1479FB;
 }
 .color-electric{
     color: #F9E83B;
 }
 .color-ground{
     color: #895C1A;
 }
 .color-bug{
     color: #3BB039;
 }
 .color-normal{
     color: #BC6B7C;
 }
 .color-fighting{
     color: #F1613C;
 }
 .color-poison{
     color: #A564E3;
 }
 .color-ghost{
     color: #454AA8;
 }
 .color-psychic{
     color: #D13E3E;
 }
 .color-rock{
     color: #8D8D94;
 }
 .color-dark{
     color: #0D1211;
 }
 .color-ice{
     color: #64CBF5;
 }
 .color-dragon{
     color: #56A4AE;
 }
 .color-steel{
     color: #728881;
 }
 .color-fairy{
     color: #C23867;
 }
 .border-grass{
     border-color: #ABDAC6;
 }
 .border-fire{
     border-color: #E35825;
 }
 .border-water{
     border-color: #1479FB;
 }
 .border-electric{
     border-color: #F9E83B;
 }
 .border-ground{
     border-color: #895C1A;
 }
 .border-bug{
     border-color: #3BB039;
 }
 .border-normal{
     border-color: #BC6B7C;
 }
 .border-fighting{
     border-color: #F1613C;
 }
 .border-poison{
     border-color: #A564E3;
 }
 .border-ghost{
     border-color: #454AA8;
 }
 .border-psychic{
     border-color: #D13E3E;
 }
 .border-rock{
     border-color: #8D8D94;
 }
 .border-dark{
     border-color: #0D1211;
 }
 .border-ice{
     border-color: #64CBF5;
 }
 .border-dragon{
     border-color: #56A4AE;
 }
 .border-steel{
     border-color: #728881;
 }
 .border-fairy{
     border-color: #C23867;
 }
 